.game{
    width:450px;
    text-align:center ;
    font-family:system-ui;
    color:white;
    margin:auto ;
    font-weight: 700;
}


.title{
    background-color:rebeccapurple;
    padding:5px 0;
    margin:5px 0;
}

#x{
    color: #ff0000;
}

#o{
    color: #008000;
}

.square{
    width: 145px;
    height: 145px;
    background-color: rebeccapurple;
    float: left;
    margin: 2px;
    font-size: 90px;
}

.square:hover{
    background-color:gray;
    cursor: pointer;
}
